# python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.egg-info/

# nodejs
node_modules/
npm-debug.log
yarn-error.log
.env

# general build output
dist/
build/

#vscode
.vscode/

# android / kotlin / gradle
.gradle/
.idea/
*.iml
.kotlin/
local.properties
*.apk
*.aab
*.ap_
*.dex
!gradlew
*.hprof
mobile/

# nodejs (Frontend)
Frontend/node_modules/
Frontend/dist/

# os
.DS_Store
Thumbs.db

chat.db
uploads/*
test.py
api-docs.md
TODO.md
*.sh
*.zip